* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Sora", sans-serif;
}

ol,
ul {
    list-style: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0 50px;
}

.nav__list {
    display: flex;
}

.nav__list > li > a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #5e6085;
    padding: 3px 18px;
    transition: 0.3s;
}

.header__top-logo {
    cursor: pointer;
}

.nav__list > li > a:hover {
    font-weight: 600;
    color: #000958;
}

.signup__button {
    border: 1px solid #000958;
    border-radius: 50px;
    padding: 18px 33px;
    font-weight: 600;
    color: #000958;
    cursor: pointer;
    transition: 0.3s;
}

.signup__button:hover {
    background-color: #000958;
    color: #fff;
}

/* header bottom */
.header__bottom {
    display: flex;
    column-gap: 120px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 50px;
    margin-bottom: 38.5px;
}

.header__bottom-media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.header__media {
    display: flex;
}

.header__media-pet1 {
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border: 3px solid #fff;
    border-radius: 16px;
}

.header__media-pet1 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.header__media-pet1--deco1 {
    position: absolute;
    top: 16px;
    left: 377px;
    z-index: -1;
}

.header__media-pet1--deco2 {
    position: absolute;
    top: 247px;
    left: -58px;
    z-index: -1;
}

.header__media-pet2 {
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    width: 186px;
    height: 244px;
    background-color: #faa7ad;
    border: 2px solid #fde0e2;
    border-radius: 16px;
}

.header__media-pet2 img {
    align-self: flex-end;
    border-radius: 16px;
}

.header__media-card {
    position: absolute;
    left: 150px;
    bottom: 0;
    width: 250px;
    height: 156px;
    background-color: #fff;
    border-radius: 10px;
}

.header__media-card-top,
.header__media-card-bottom {
    display: flex;
    padding: 18px 14px;
}

.header__media-card--separate {
    width: 222px;
    height: 2px;
    margin: 0 14px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.header__media-card-top img,
.header__media-card-bottom img {
    width: 40px;
    height: 40px;
    background-color: #fec23f;
    border-radius: 10px;
}

.header__media-card-bottom img {
    background-color: #bfddf5;
}

.header__media-card--info {
    margin-left: 8.6px;
}

.header__media-card--info p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #181e52;
}

.header__media-card--progress1,
.header__media-card--progress2 {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background-color: #ebecf2;
    border-radius: 10px;
}

.header__media-card--progress2 {
    width: 39px;
}

.header__bottom-heading {
    font-size: 6.6rem;
    color: #000958;
    font-weight: 800;
}

.header__bottom-desc {
    width: 391px;
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.85;
    color: #656689;
}

.header__bottom-button {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.header__bottom--cta1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 190px;
    height: 60px;
    background-color: #ff5b2e;
    border-radius: 31px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 22px 30px;
}

.header__bottom--cta1:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header__bottom--cta1-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.header__bottom--cta2 {
    margin-left: 24px;

    color: #000958;
    font-weight: 500;
    text-decoration: underline;
}

/* about */
.about {
    margin-top: 38.5px;
    padding: 53px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__content {
    width: 477px;
}

.about__content--subtitle {
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__content--heading {
    margin-top: 15px;
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.about__content--desc {
    margin-top: 24px;
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__check--item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check--item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check--item::after {
    content: url(../icon/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__media--human {
    position: relative;
    margin-left: auto;
    width: 494px;
}

.about__media--human::after {
    position: absolute;
    inset: auto 0 0 0;
    height: 336px;
    z-index: -1;
    content: "";
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media--image {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__experience {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 31px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about__experience::before {
    position: absolute;
    content: url(../img/decor4.svg);
    top: -39px;
    right: -32px;
}

.about__experience--year {
    color: #fff;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
}

.about__experience--desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
}

.about__media--decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__media-bottom {
}

.about__media-bottom--image {
    position: relative;
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #fff;
}

.pet__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.about__media-bottom--decor {
    position: absolute;
}

.about__media-bottom--decor:nth-child(1) {
    top: 12.5px;
    right: 64px;
}

.about__media-bottom--decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__media-bottom--decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__media-bottom--decor:nth-child(4) {
    top: 260px;
    right: -36px;
}

.about__media-bottom--decor:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__media-bottom--decor:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

.about__bottom-content {
    display: block;
}

.about__bottom-content--desc {
    width: 511px;
}

.about__tab {
    margin-top: 55px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__list::after {
    position: absolute;
    content: "";
    width: 557px;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff5b2e;
    opacity: 0.07;
    border-radius: 1px;
}

.tab__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item--active::after {
    position: absolute;
    content: "";
    width: 95px;
    height: 2px;
    bottom: 0;
    background-color: #ff5b2e;
    border-radius: 1px;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.tab__info {
    margin-top: 36px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.71;
}

.tab__more {
    display: inline-block;
    position: relative;
    margin-top: 32px;
    padding-bottom: 5px;
    color: #ff5d31;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
}

.tab__more::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff5d31;
}

.service {
    margin-top: 130px;
    padding: 68px 0 100px;
    background-color: #fff6ed;
}

.service__top--subtitle {
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.service__top--heading {
    margin-top: 15px;
    color: #000958;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.service__bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service__item {
    width: 294px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service__item + .service__item {
    margin-top: 24px;
}

.service__item--heading {
    position: relative;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    padding-left: 12px;
}

.service__item--heading::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 22px;
    inset: auto 0 0 0;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item--desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.71;
}

.service__item--more {
    display: inline-block;
    margin-top: 24px;
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

.service__item--more-icon {
    margin-left: 6px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__img-pet {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.service__media::after {
    content: "";
    position: absolute;
    width: 410px;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__cta-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.service__cta {
    min-width: 214px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s;
}

.service__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5b2e;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    padding: 20px 40px;
    transition: 0.2s;
}

.service__cta-btn:hover {
    color: #fff;
}

.service__cta:hover {
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    background-color: #ff5b2e;
}
