* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
}

.nav__list {
    display: flex;
}

.nav__list > li > a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #5e6085;
    padding: 3px 18px;
    transition: 0.3s;
}

.header__top-logo {
    cursor: pointer;
}

.nav__list > li > a:hover {
    font-weight: 600;
    color: #000958;
}

.signup__button {
    border: 1px solid #000958;
    border-radius: 50px;
    padding: 18px 33px;
    font-weight: 600;
    color: #000958;
    cursor: pointer;
    transition: 0.3s;
}

.signup__button:hover {
    background-color: #000958;
    color: #fff;
}
