* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
}

.nav__list {
    display: flex;
}

.nav__list > li > a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #5e6085;
    padding: 3px 18px;
    transition: 0.3s;
}

.header__top-logo {
    cursor: pointer;
}

.nav__list > li > a:hover {
    font-weight: 600;
    color: #000958;
}

.signup__button {
    border: 1px solid #000958;
    border-radius: 50px;
    padding: 18px 33px;
    font-weight: 600;
    color: #000958;
    cursor: pointer;
    transition: 0.3s;
}

.signup__button:hover {
    background-color: #000958;
    color: #fff;
}

/* header bottom */
.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.header__bottom-media {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__media {
    display: flex;
}

.header__media-pet1 {
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border: 3px solid #fff;
    border-radius: 16px;
}

.header__media-pet1 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}

.header__media-pet1--deco1 {
    position: absolute;
    top: 16px;
    right: -40px;
    z-index: -1;
}

.header__media-pet1--deco2 {
    position: absolute;
    top: 247px;
    left: -58px;
    z-index: -1;
}

.header__media-pet2 {
    position: absolute;
    bottom: -58px;
    right: -163px;
    width: 186px;
    height: 244px;
    background-color: #faa7ad;
    border: 2px solid #fde0e2;
    border-radius: 16px;
}

.header__media-pet2 img {
    align-self: flex-end;
    border-radius: 16px;
}

.header__media-card {
    position: absolute;
    left: 129px;
    bottom: -94px;
    width: 250px;
    height: 156px;
    background-color: #fff;
    border-radius: 10px;
}

.header__media-card-top,
.header__media-card-bottom {
    display: flex;
    padding: 18px 14px;
}

.header__media-card--separate {
    width: 222px;
    height: 2px;
    margin: 0 14px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.header__media-card-top img,
.header__media-card-bottom img {
    width: 40px;
    height: 40px;
    background-color: #fec23f;
    border-radius: 10px;
}

.header__media-card-bottom img {
    background-color: #bfddf5;
}

.header__media-card--info {
    margin-left: 8.6px;
}

.header__media-card--info p {
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #181e52;
}

.header__media-card--progress1,
.header__media-card--progress2 {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background-color: #ebecf2;
    border-radius: 10px;
}

.header__media-card--progress2 {
    width: 39px;
}

.header__bottom-content {
    width: 517px;
    margin-left: 120px;
}

.header__bottom-heading {
    font-size: 6.6rem;
    color: #000958;
    font-weight: 800;
}

.header__bottom-desc {
    width: 391px;
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.85;
    color: #656689;
}

.header__bottom-button {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.header__bottom--cta1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 190px;
    height: 60px;
    background-color: #ff5b2e;
    border-radius: 31px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 22px 30px;
}

.header__bottom--cta1:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header__bottom--cta1-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.header__bottom--cta2 {
    margin-left: 24px;

    color: #000958;
    font-weight: 500;
    text-decoration: underline;
}
